<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text">
    <p> O Gerenciador de Tarefas é um aplicativo inovador utilizado para criar listas de afazeres a fim de se organizar e otimizar seu tempo.</p>
    <br>
    <p> Para criar uma tarefa você deve:</p>
    <p> 1 - Clicar em Tarefas</p>
    <p> 2 - Clicar em Criar nova tarefa</p>
    <p> 3 - Digitar a tarefa que você deseja criar</p>
    <p> 4 - Clicar em Adicionar</p>
    <br>
    <p> Para alterar o status de uma tarefa você deve:</p>
    <p> 1 - Clicar na tarefa que você deseja alterar o status</p>
    <br>
    <p> Para editar uma tarefa você deve:</p>
    <p> 1 - Deslizar a tarefa que você deseja editar para a esquerda</p>
    <p> 2 - Clicar em Editar</p>
    <p> 3 - Digitar o novo nome da tarefa</p>
    <p> 4 - Clicar em Alterar</p>
    <br>
    <p> Para excluir uma tarefa você deve:</p>
    <p> 1 - Deslizar a tarefa que você deseja excluir para a direita</p>
    <p> 2 - Clicar em Excluir</p>
    <p> 3 - Clicar em Confirmar</p>
  </div>
</ion-content>
